.wedding-invitation {
  background-image: url("../../assets/images/TUAN6732.jpg");
  background-size: cover;
  background-position: center;
  height: 90vh;
  position: relative;

  .title {
    margin: 0;
    width: 100%;
    position: absolute;
    top: 2%;

    color: rgba(0, 0, 0, 1);
    font-family: var(--font-utm-azkia);
    font-size: 3.25rem;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(255, 255, 255, 1);
    transform: rotate(358deg) perspective(1044px);
  }

  .invitation-content {
    position: absolute;
    bottom: 10%;
    left: 5%;

    .divider {
      border: 0.5px solid rgba(0, 0, 0, 1);
      margin: 5px 0;
    }
    .sub-title, .time, .date {
      font-size: 1.25rem;
      text-align: center;
      // font-weight: 500;
    }
    .sub-title{
      font-family: var(--font-barlow);
    }
    .time, .date {
      font-size: 1.325rem;
      // font-weight: 600;
    }
  }
}
